@inject IJSRuntime _JSRuntime

@if (string.IsNullOrWhiteSpace(Model.MoreSummary) == false && string.IsNullOrWhiteSpace(Model.MoreSummaryId) == false)
{
    <div id="@Model.MoreSummaryId-area" class="more-summary @AreaTransition" style="@AreaStyle" augmented-ui="tl-clip tr-clip exe">
        <p id="@Model.MoreSummaryId" class="card-text @MoreTransition" style="@MoreStyle">@((MarkupString)Model.MoreSummary)</p>

        <p @onclick="ToggleCollapse">
            <CardCollapseButton Text="@ButtonText" Model="@Model" />
        </p>
    </div>
}

@code {
    [Parameter]
    public PageModuleModel Model { get; set; }

    private bool IsClosed = true;
    private string ButtonText => IsClosed ? "Show More" : "Show Less";

    private string AreaTransition;
    private string MoreTransition;
    private string AreaStyle;
    private string MoreStyle = "padding: 20px";
    private int AreaHeight;
    private int MoreHeight;

    private async Task ToggleCollapse()
    {
        IsClosed = !IsClosed;


        if (IsClosed)
        {
            //-- closing task
            MoreStyle = "height: 0px; padding: 20px;";
            AreaStyle = $"height: 25px; width: 100%";
            await Task.Delay(720);
            MoreStyle = "height: 0px; margin: auto;";
            AreaStyle = "height: 25px; width: 200px";
        }
        else
        {
            //-- opening task
            AreaStyle = $"height: 25px; width: 100%";
            await Task.Delay(520);
            MoreStyle = $"height: {MoreHeight}px; padding: 20px;";
            AreaStyle = $"height: {AreaHeight}px; width: 100%";
        }

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && string.IsNullOrWhiteSpace(Model.MoreSummaryId) == false)
        {
            //-- initilization task
            MoreHeight = await _JSRuntime.InvokeAsync<int>("helper.getHeight", Model.MoreSummaryId);
            AreaHeight = await _JSRuntime.InvokeAsync<int>("helper.getHeight", Model.MoreSummaryId + "-area");

            MoreTransition = "more-transition";
            AreaTransition = "area-transition";
            AreaStyle = "height: 25px; width: 200px";
            MoreStyle = "height: 0px; margin: auto;";

            StateHasChanged();
        }
    }
}
